<header class="header">
  <a href="https://adalab.es/" target="_blank">
    <img
      class="header-logo"
      src="./assets/images/adalab-logo.svg"
      alt="logo-adalab"/></a>
  <nav class="header-menu">
    <ul>
      <li>
        <a class="header-link" 
        href="https://medium.com/adalab" 
        target="_blank">Blog</a></li>
      <li>
        <a
          class="header-link"
          href="https://adalab.es/contacto.html"
          target="_blank">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
