.main {
  margin-top: 7.188rem;
  

  @media screen and (min-width: 768px) {
    margin-top: 6.25rem;
  }
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url(/assets/images/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;

  &-title {
    padding-left: 1.25rem;
    font-size: 1.875rem;
    color: $color-white;
    font-family: $font-text;
    font-weight: bold;
    width: min-content;
    letter-spacing: normal;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
      font-size: 3.75rem;
      padding-left: 1.875rem;
    }

    @media screen and (min-width: 1024px) {
      padding-left: 3.125rem;
    }
  }
}
